<!DOCTYPE html>
<html ng-app>
  <head>
    <link rel="stylesheet" src="../css/bootstrap.min.css">
    <link rel="stylesheet" src="../css/bootstrap-theme.min.css">
  </head>
  <body>
    <div>
      <label>Say:</label>
      <input type="text" ng-model="status" placeholder="something" id="user-status">
      <input type="button" id="post-status" value="Post status">
      <hr>
      <h1>Says "{{status}}"</h1>
      <div id="status-area"></div>
    </div>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/status-node.js"></script>
  </body>
</html>