doctype html
html(ng-app="statusNodeApp")
    head
        link(rel="stylesheet" type="text/css" src="../css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" src="../css/bootstrap-theme.min.css")
        title Status Node
        script(src="../scripts/angular.js")
        script(src="../scripts/jquery.js")
        script(src="../scripts/status-node.js")
        script(src="../scripts/sn-angular.js")
    body
        div(ng-controller="statusNodeController")
            form(ng-submit="addStatus()")
                label Say:
                input(type="text" ng-model="statusUpdate" placeholder="something" id="user-status")
                input(type="submit" id="post-status" value="Post status")
            hr
            h1 Says "{{statusUpdate}}"
            p You have said {{statusUpdates.length}} things so far.
            div
                ul(id="status-area")
                    li(ng-repeat="stat in statusUpdates")
                        span {{stat.timestamp + " " + stat.update}}
