<!DOCTYPE html>
<html ng-app="statusNodeApp">
  <head>
    <link rel="stylesheet" type="text/css" src="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" src="../css/bootstrap-theme.min.css">
    <title>Status Node</title>
    <script src="../scripts/angular.js"></script>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/status-node.js"></script>
    <script src="../scripts/sn-angular.js"></script>
  </head>
  <body>
    <div ng-controller="statusNodeController">
      <label>Say:</label>
      <input type="text" ng-model="status" placeholder="something" id="user-status">
      <input type="button" id="post-status" value="Post status">
      <hr>
      <h1>Says "{{status}}"</h1>
      <div>
        <ul id="status-area">
          <li ng-repeat="stat in statusUpdates"><span>{{stat.timestamp + " " + stat.update}}</span></li>
        </ul>
      </div>
    </div>
  </body>
</html>